<img src= "https://fondomujer.gov.co/wp-content/uploads/2023/11/fm_logo_slogan.png" alt= "CRC" style=  "width: 190px;" align= "left" frameborder= "300"/>

**Fondo Mujer libre y productiva** <br>
**Carlos Eduardo Gutiérrez Urueña**  <br><br>

In [45]:
''''
Importando librerías

'''

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from sqlalchemy import inspect

In [46]:
'''
Importando datos

'''

divipola = pd.read_excel('../prueba de conocimientos vicepresidencia/01. DIVIPOLA_Municipios.xlsx', sheet_name = 'Hoja1', dtype={'cod_mun': str})
proyeccion_poblacional = pd.read_excel('../prueba de conocimientos vicepresidencia/02. Proyección de poblacion-Mun-2020-2035.xlsx', sheet_name = 'Hoja2', dtype={'cod_mun': str})
ingresos_pc_predial = pd.read_excel('../prueba de conocimientos vicepresidencia/03. Ingresos per cápita por impuesto predial.xlsx', dtype={'cod_mun': str}, decimal=',', thousands='.')
total_predios = pd.read_excel('../prueba de conocimientos vicepresidencia/04. Total de predios.xlsx', dtype={'cod_mun': str}, decimal=',', thousands='.')
ingresos_industria_comercio = pd.read_excel('../prueba de conocimientos vicepresidencia/05. Ingresos per cápita por impuesto a la Industria y al comercio.xlsx', dtype={'cod_mun': str}, decimal=',', thousands='.')

### Validando los datos importados

In [47]:
ingresos_pc_predial.dtypes

cod_dep               int64
nom_dep              object
cod_mun              object
nom_mun              object
dimension            object
subcategoria         object
indicador            object
dato_numerico       float64
dato_cualitativo    float64
anio                  int64
mes                   int64
fuente               object
unidad_medida        object
dtype: object

In [48]:
ingresos_pc_predial

,cod_dep,nom_dep,cod_mun,nom_mun,dimension,subcategoria,indicador,dato_numerico,dato_cualitativo,anio,mes,fuente,unidad_medida
0,66,Risaralda,66001,Pereira,Finanzas públicas,Operaciones efectivas de caja,Ingresos per cápita por impuesto predial,39376.64,NaN,2000,12,DNP a partir de información del FUT y DANE,Pesos corrientes
1,66,Risaralda,66045,Apía,Finanzas públicas,Operaciones efectivas de caja,Ingresos per cápita por impuesto predial,10213.23,NaN,2000,12,DNP a partir de información del FUT y DANE,Pesos corrientes
2,66,Risaralda,66075,Balboa,Finanzas públicas,Operaciones efectivas de caja,Ingresos per cápita por impuesto predial,37841.77,NaN,2000,12,DNP a partir de información del FUT y DANE,Pesos corrientes
3,66,Risaralda,66088,Belén de Umbría,Finanzas públicas,Operaciones efectivas de caja,Ingresos per cápita por impuesto predial,11363.75,NaN,2000,12,DNP a partir de información del FUT y DANE,Pesos corrientes
4,66,Risaralda,66170,Dosquebradas,Finanzas públicas,Operaciones efectivas de caja,Ingresos per cápita por impuesto predial,19861.65,NaN,2000,12,DNP a partir de información del FUT y DANE,Pesos corrientes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26100,99,Vichada,99000,Vichada,Finanzas públicas,Operaciones efectivas de caja,Ingresos per cápita por impuesto predial,NaN,NaN,2022,12,DNP a partir de información del FUT y DANE,Pesos corrientes
26101,99,Vichada,99001,Puerto Carreño,Finanzas públicas,Operaciones efectivas de caja,Ingresos per cápita por impuesto predial,62796.57,NaN,2022,12,DNP a partir de información del FUT y DANE,Pesos corrientes
26102,99,Vichada,99524,La Primavera,Finanzas públicas,Operaciones efectivas de caja,Ingresos per cápita por impuesto predial,83552.53,NaN,2022,12,DNP a partir de información del FUT y DANE,Pesos corrientes
26103,99,Vichada,99624,Santa Rosalía,Finanzas públicas,Operaciones efectivas de caja,Ingresos per cápita por impuesto predial,88613.57,NaN,2022,12,DNP a partir de información del FUT y DANE,Pesos corrientes
26104,99,Vichada,99773,Cumaribo,Finanzas públicas,Operaciones efectivas de caja,Ingresos per cápita por impuesto predial,52241.78,NaN,2022,12,DNP a partir de información del FUT y DANE,Pesos corrientes

In [49]:
'''
Validando municipios (n = 1103)

'''

divipola.query("tipo == 'Municipio'")

      cod_dep    nom_dep cod_mun         nom_mun       tipo
0           5  ANTIOQUIA   05001        MEDELLÍN  Municipio
1           5  ANTIOQUIA   05002       ABEJORRAL  Municipio
2           5  ANTIOQUIA   05004        ABRIAQUÍ  Municipio
3           5  ANTIOQUIA   05021      ALEJANDRÍA  Municipio
4           5  ANTIOQUIA   05030           AMAGÁ  Municipio
...       ...        ...     ...             ...        ...
1115       97     VAUPÉS   97666         TARAIRA  Municipio
1118       99    VICHADA   99001  PUERTO CARREÑO  Municipio
1119       99    VICHADA   99524    LA PRIMAVERA  Municipio
1120       99    VICHADA   99624   SANTA ROSALÍA  Municipio
1121       99    VICHADA   99773        CUMARIBO  Municipio

[1103 rows x 5 columns]

In [50]:
'''
Generando un dataset para municipios exclusivamente
'''

#divipola = pd.read_excel('../prueba de conocimientos vicepresidencia/01. DIVIPOLA_Municipios.xlsx', sheet_name = 'Hoja1', dtype={'cod_mun': str})
divipola_mpios = divipola.query("tipo == 'Municipio'")
divipola_mpios

      cod_dep    nom_dep cod_mun         nom_mun       tipo
0           5  ANTIOQUIA   05001        MEDELLÍN  Municipio
1           5  ANTIOQUIA   05002       ABEJORRAL  Municipio
2           5  ANTIOQUIA   05004        ABRIAQUÍ  Municipio
3           5  ANTIOQUIA   05021      ALEJANDRÍA  Municipio
4           5  ANTIOQUIA   05030           AMAGÁ  Municipio
...       ...        ...     ...             ...        ...
1115       97     VAUPÉS   97666         TARAIRA  Municipio
1118       99    VICHADA   99001  PUERTO CARREÑO  Municipio
1119       99    VICHADA   99524    LA PRIMAVERA  Municipio
1120       99    VICHADA   99624   SANTA ROSALÍA  Municipio
1121       99    VICHADA   99773        CUMARIBO  Municipio

[1103 rows x 5 columns]

In [51]:
proyeccion_poblacional.dtypes
proyeccion_poblacional

,cod_dep,nom_dep,cod_mun,nom_mun,anio,area_geografica,poblacion
0,5,Antioquia,05001,Medellín,2020,Cabecera Municipal,2476569
1,5,Antioquia,05001,Medellín,2020,Centros Poblados y Rural Disperso,43023
2,5,Antioquia,05001,Medellín,2020,Total,2519592
3,5,Antioquia,05001,Medellín,2021,Cabecera Municipal,2506656
4,5,Antioquia,05001,Medellín,2021,Centros Poblados y Rural Disperso,42352
...,...,...,...,...,...,...,...
53851,99,Vichada,99773,Cumaribo,2034,Centros Poblados y Rural Disperso,95678
53852,99,Vichada,99773,Cumaribo,2034,Total,98753
53853,99,Vichada,99773,Cumaribo,2035,Cabecera Municipal,3062
53854,99,Vichada,99773,Cumaribo,2035,Centros Poblados y Rural Disperso,96770
53855,99,Vichada,99773,Cumaribo,2035,Total,99832

In [52]:
#proyeccion_poblacional_2022 = proyeccion_poblacional[(proyeccion_poblacional['area_geografica'] == 'Total') and (proyeccion_poblacional['anio'] == 2022)]
proyeccion_poblacional_2022 = proyeccion_poblacional[(proyeccion_poblacional['anio'] == 2022) & (proyeccion_poblacional['area_geografica'] == 'Total')]
proyeccion_poblacional_2022

,cod_dep,nom_dep,cod_mun,nom_mun,anio,area_geografica,poblacion
8,5,Antioquia,05001,Medellín,2022,Total,2572350
56,5,Antioquia,05002,Abejorral,2022,Total,21109
104,5,Antioquia,05004,Abriaquí,2022,Total,2804
152,5,Antioquia,05021,Alejandría,2022,Total,4874
200,5,Antioquia,05030,Amagá,2022,Total,31851
...,...,...,...,...,...,...,...
53624,97,Vaupés,97889,Yavaraté (ANM),2022,Total,1171
53672,99,Vichada,99001,Puerto Carreño,2022,Total,21868
53720,99,Vichada,99524,La Primavera,2022,Total,10808
53768,99,Vichada,99624,Santa Rosalía,2022,Total,4475
53816,99,Vichada,99773,Cumaribo,2022,Total,83791

In [53]:
total_predios

,cod_dep,nom_dep,cod_mun,nom_mun,dimension,subcategoria,indicador,dato_numerico,dato_cualitativo,anio,mes,fuente,unidad_medida
0,1,Colombia,01001,Colombia,Ordenamiento Territorial,Catastro,Total de predios,14702892.0,NaN,2012,12,IGAC,Millones de pesos corrientes
1,5,Antioquia,05000,Antioquia,Ordenamiento Territorial,Catastro,Total de predios,2105872.0,NaN,2012,12,IGAC,Millones de pesos corrientes
2,5,Antioquia,05001,Medellín,Ordenamiento Territorial,Catastro,Total de predios,858067.0,NaN,2012,12,IGAC,Millones de pesos corrientes
3,5,Antioquia,05002,Abejorral,Ordenamiento Territorial,Catastro,Total de predios,10292.0,NaN,2012,12,IGAC,Millones de pesos corrientes
4,5,Antioquia,05004,Abriaquí,Ordenamiento Territorial,Catastro,Total de predios,1146.0,NaN,2012,12,IGAC,Millones de pesos corrientes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11345,68,Santander,68861,Vélez,Ordenamiento Territorial,Catastro,Total de predios,10712.0,NaN,2022,12,IGAC,Millones de pesos corrientes
11346,68,Santander,68855,Valle de San José,Ordenamiento Territorial,Catastro,Total de predios,2614.0,NaN,2022,12,IGAC,Millones de pesos corrientes
11347,68,Santander,68820,Tona,Ordenamiento Territorial,Catastro,Total de predios,3680.0,NaN,2022,12,IGAC,Millones de pesos corrientes
11348,68,Santander,68780,Suratá,Ordenamiento Territorial,Catastro,Total de predios,1920.0,NaN,2022,12,IGAC,Millones de pesos corrientes
11349,68,Santander,68773,Sucre,Ordenamiento Territorial,Catastro,Total de predios,6082.0,NaN,2022,12,IGAC,Millones de pesos corrientes

### Creando los set de datos para el año 2022

In [54]:
'''
Seleccionando los predios para el año 2022
'''

total_predios_2022 = total_predios[['cod_dep', 'nom_dep', 'cod_mun', 'nom_mun','dato_numerico', 'anio']][total_predios['anio'] == 2022]
total_predios_2022.rename(columns = {'dato_numerico': 'predios'}, inplace = True)
total_predios_2022

       cod_dep    nom_dep cod_mun            nom_mun   predios  anio
10215       13    Bolívar   13042             Arenal    2748.0  2022
10216       13    Bolívar   13030  Altos del Rosario    2169.0  2022
10217       13    Bolívar   13006               Achí    4694.0  2022
10218       13    Bolívar   13001          Cartagena  302232.0  2022
10219       13    Bolívar   13000            Bolívar  595907.0  2022
...        ...        ...     ...                ...       ...   ...
11345       68  Santander   68861              Vélez   10712.0  2022
11346       68  Santander   68855  Valle de San José    2614.0  2022
11347       68  Santander   68820               Tona    3680.0  2022
11348       68  Santander   68780             Suratá    1920.0  2022
11349       68  Santander   68773              Sucre    6082.0  2022

[1135 rows x 6 columns]

In [55]:
'''
Seleccionando el ingreso per cápita por imp predial para el año 2022
'''

ingresos_pc_predial_2022 = ingresos_pc_predial[['cod_dep', 'nom_dep', 'cod_mun', 'nom_mun','dato_numerico', 'anio']][ingresos_pc_predial['anio'] == 2022]
ingresos_pc_predial_2022.rename(columns = {'dato_numerico': 'ingresos_pc_predial'}, inplace = True)
ingresos_pc_predial_2022

       cod_dep    nom_dep cod_mun          nom_mun  ingresos_pc_predial  anio
24970       66  Risaralda   66001          Pereira            409335.16  2022
24971       66  Risaralda   66000        Risaralda                  NaN  2022
24972       66  Risaralda   66045             Apía             44842.15  2022
24973       66  Risaralda   66075           Balboa            145183.67  2022
24974       66  Risaralda   66088  Belén de Umbría             84512.08  2022
...        ...        ...     ...              ...                  ...   ...
26100       99    Vichada   99000          Vichada                  NaN  2022
26101       99    Vichada   99001   Puerto Carreño             62796.57  2022
26102       99    Vichada   99524     La Primavera             83552.53  2022
26103       99    Vichada   99624    Santa Rosalía             88613.57  2022
26104       99    Vichada   99773         Cumaribo             52241.78  2022

[1135 rows x 6 columns]

In [56]:
'''
Filtrando los ingresos por IyC para el año 2022
'''

ingresos_industria_comercio_2022 = ingresos_industria_comercio[['cod_dep', 'nom_dep', 'cod_mun', 'nom_mun','dato_numerico', 'anio']][ingresos_industria_comercio['anio'] == 2022]
ingresos_industria_comercio_2022.rename(columns = {'dato_numerico': 'impuesto_iyc'}, inplace = True)
ingresos_industria_comercio_2022

       cod_dep    nom_dep cod_mun            nom_mun  impuesto_iyc  anio
24970       17     Caldas   17272         Filadelfia      27525.57  2022
24971       17     Caldas   17380          La Dorada      92038.60  2022
24972       17     Caldas   17388          La Merced      24120.08  2022
24973       17     Caldas   17433         Manzanares      38879.25  2022
24974       17     Caldas   17442            Marmato     103670.39  2022
...        ...        ...     ...                ...           ...   ...
26100       73     Tolima   73067              Ataco      19298.18  2022
26101       73     Tolima   73124          Cajamarca     228164.87  2022
26102       73     Tolima   73148  Carmen de Apicalá     123550.68  2022
26103       73     Tolima   73152         Casabianca      12878.25  2022
26104       68  Santander   68755            Socorro      53821.20  2022

[1135 rows x 6 columns]

In [57]:
'''
Haciendo una prueba de merge entre tablas para identificar el valor nulo del municipio de Belen de Bajirá que aún está en consolidación por ser nuevo
'''

tabla_final = divipola_mpios.merge(proyeccion_poblacional_2022[['cod_mun', 'poblacion']], on = 'cod_mun', how = 'left')
tabla_final.isnull().sum()

cod_dep      0
nom_dep      0
cod_mun      0
nom_mun      0
tipo         0
poblacion    1
dtype: int64

In [58]:
tabla_final[tabla_final['poblacion'].isnull()]

     cod_dep nom_dep cod_mun                  nom_mun       tipo  poblacion
595       27   CHOCÓ   27493  NUEVO BELÉN DE BAJIRÁ *  Municipio        NaN

### Tabla final con los campos solicitados

In [59]:
'''
Haciendo merge entre las tablas intermedias
'''

# tabla_final = divipola_mpios.merge(proyeccion_poblacional_2022[['cod_mun', 'poblacion']], 
#                                    on = 'cod_mun', how = 'left').merge(ingresos_pc_predial_2022[['ingresos_pc_predial', 'cod_mun']], 
#                                                                        on = 'cod_mun', how = 'left').merge(ingresos_industria_comercio_2022[['impuesto_iyc', 'cod_mun']], 
#                                                                                                            on = 'cod_mun', how = 'left')
tabla_final = divipola_mpios.merge(proyeccion_poblacional_2022[['cod_mun', 'poblacion']], 
                                   on = 'cod_mun').merge(ingresos_pc_predial_2022[['ingresos_pc_predial', 'cod_mun']], 
                                                         on = 'cod_mun').merge(total_predios_2022[['predios', 'cod_mun']], 
                                                                               on = 'cod_mun').merge(total_predios_2022[['predios', 'cod_mun']], 
                                                                                                     on = 'cod_mun')
tabla_final

,cod_dep,nom_dep,cod_mun,nom_mun,tipo,poblacion,ingresos_pc_predial,predios_x,predios_y
0,5,ANTIOQUIA,05001,MEDELLÍN,Municipio,2572350,338104.13,1064269.0,1064269.0
1,5,ANTIOQUIA,05002,ABEJORRAL,Municipio,21109,54407.22,10744.0,10744.0
2,5,ANTIOQUIA,05004,ABRIAQUÍ,Municipio,2804,16001.90,1166.0,1166.0
3,5,ANTIOQUIA,05021,ALEJANDRÍA,Municipio,4874,63456.84,2764.0,2764.0
4,5,ANTIOQUIA,05030,AMAGÁ,Municipio,31851,71026.61,10576.0,10576.0
...,...,...,...,...,...,...,...,...,...
1097,97,VAUPÉS,97666,TARAIRA,Municipio,2481,1266329.13,366.0,366.0
1098,99,VICHADA,99001,PUERTO CARREÑO,Municipio,21868,62796.57,8974.0,8974.0
1099,99,VICHADA,99524,LA PRIMAVERA,Municipio,10808,83552.53,5310.0,5310.0
1100,99,VICHADA,99624,SANTA ROSALÍA,Municipio,4475,88613.57,1908.0,1908.0
1101,99,VICHADA,99773,CUMARIBO,Municipio,83791,52241.78,7300.0,7300.0

In [60]:
'''
Validando los tipos de datos para obtener las estadísticas
'''

tabla_final.dtypes

cod_dep                  int64
nom_dep                 object
cod_mun                 object
nom_mun                 object
tipo                    object
poblacion                int64
ingresos_pc_predial    float64
predios_x              float64
predios_y              float64
dtype: object

In [61]:
tabla_final = divipola_mpios.merge(proyeccion_poblacional_2022[['cod_mun', 'poblacion']], 
                                   on = 'cod_mun').merge(ingresos_pc_predial_2022[['ingresos_pc_predial', 'cod_mun']], 
                                                         on = 'cod_mun').merge(total_predios_2022[['predios', 'cod_mun']], 
                                                                               on = 'cod_mun').merge(total_predios_2022[['predios', 'cod_mun']], 
                                                                                                     on = 'cod_mun')
tabla_final

,cod_dep,nom_dep,cod_mun,nom_mun,tipo,poblacion,ingresos_pc_predial,predios_x,predios_y
0,5,ANTIOQUIA,05001,MEDELLÍN,Municipio,2572350,338104.13,1064269.0,1064269.0
1,5,ANTIOQUIA,05002,ABEJORRAL,Municipio,21109,54407.22,10744.0,10744.0
2,5,ANTIOQUIA,05004,ABRIAQUÍ,Municipio,2804,16001.90,1166.0,1166.0
3,5,ANTIOQUIA,05021,ALEJANDRÍA,Municipio,4874,63456.84,2764.0,2764.0
4,5,ANTIOQUIA,05030,AMAGÁ,Municipio,31851,71026.61,10576.0,10576.0
...,...,...,...,...,...,...,...,...,...
1097,97,VAUPÉS,97666,TARAIRA,Municipio,2481,1266329.13,366.0,366.0
1098,99,VICHADA,99001,PUERTO CARREÑO,Municipio,21868,62796.57,8974.0,8974.0
1099,99,VICHADA,99524,LA PRIMAVERA,Municipio,10808,83552.53,5310.0,5310.0
1100,99,VICHADA,99624,SANTA ROSALÍA,Municipio,4475,88613.57,1908.0,1908.0
1101,99,VICHADA,99773,CUMARIBO,Municipio,83791,52241.78,7300.0,7300.0

## Respuesta 2.1 
## Tabla ingreso por impuesto predial per cápita para los cinco mayores ingresos por concepto de Impuesto predial

In [62]:
## Tabla con los cinco mayores ingresos per cápita por concepto de impuesto predial
tabla_final.sort_values(['ingresos_pc_predial'], ascending = False).head(5)

,cod_dep,nom_dep,cod_mun,nom_mun,tipo,poblacion,ingresos_pc_predial,predios_x,predios_y
600,27,CHOCÓ,27745,SIPÍ,Municipio,3479,1969892.51,307.0,307.0
83,5,ANTIOQUIA,05607,RETIRO,Municipio,25017,1630775.77,16947.0,16947.0
1097,97,VAUPÉS,97666,TARAIRA,Municipio,2481,1266329.13,366.0,366.0
533,25,CUNDINAMARCA,25612,RICAURTE,Municipio,14826,1258916.78,25827.0,25827.0
460,25,CUNDINAMARCA,25035,ANAPOIMA,Municipio,16600,1189890.74,13563.0,13563.0

## Respuesta 3.1 
## Tabla ingreso por impuesto predial total por concepto de impuesto predial en el país

In [63]:
tabla_final['total_ingreso_predial'] = tabla_final.ingresos_pc_predial * tabla_final.poblacion
tabla_final.sort_values(['total_ingreso_predial'], ascending = False).head(5)

,cod_dep,nom_dep,cod_mun,nom_mun,tipo,poblacion,ingresos_pc_predial,predios_x,predios_y,total_ingreso_predial
148,11,"BOGOTÁ, D.C.",11001,"BOGOTÁ, D.C.",Municipio,7873316,457835.92,2776362.0,2776362.0,3.604687e+12
0,5,ANTIOQUIA,05001,MEDELLÍN,Municipio,2572350,338104.13,1064269.0,1064269.0,8.697222e+11
1005,76,VALLE DEL CAUCA,76001,SANTIAGO DE CALI,Municipio,2276124,358571.10,749790.0,749790.0,8.161523e+11
125,8,ATLÁNTICO,08001,BARRANQUILLA,Municipio,1310163,346644.25,406247.0,406247.0,4.541605e+11
149,13,BOLÍVAR,13001,CARTAGENA DE INDIAS,Municipio,1043185,326629.57,302232.0,302232.0,3.407351e+11

## Respuesta 3.1 
## Tabla participación (%) impuesto predial total por concepto de impuesto predial en el país

In [64]:
total_nacional = tabla_final['total_ingreso_predial'].sum()
tabla_final['participacion_predial_%'] = (tabla_final['total_ingreso_predial'] / total_nacional) * 100

In [65]:
tabla_final.sort_values(['participacion_predial_%'], ascending = False).head(10)

,cod_dep,nom_dep,cod_mun,nom_mun,tipo,poblacion,ingresos_pc_predial,predios_x,predios_y,total_ingreso_predial,participacion_predial_%
148,11,"BOGOTÁ, D.C.",11001,"BOGOTÁ, D.C.",Municipio,7873316,457835.92,2776362.0,2776362.0,3.604687e+12,33.878178
0,5,ANTIOQUIA,05001,MEDELLÍN,Municipio,2572350,338104.13,1064269.0,1064269.0,8.697222e+11,8.173970
1005,76,VALLE DEL CAUCA,76001,SANTIAGO DE CALI,Municipio,2276124,358571.10,749790.0,749790.0,8.161523e+11,7.670500
125,8,ATLÁNTICO,08001,BARRANQUILLA,Municipio,1310163,346644.25,406247.0,406247.0,4.541605e+11,4.268368
149,13,BOLÍVAR,13001,CARTAGENA DE INDIAS,Municipio,1043185,326629.57,302232.0,302232.0,3.407351e+11,3.202354
831,66,RISARALDA,66001,PEREIRA,Municipio,480739,409335.16,205215.0,205215.0,1.967834e+11,1.849443
845,68,SANTANDER,68001,BUCARAMANGA,Municipio,610125,315915.27,196244.0,196244.0,1.927478e+11,1.811515
46,5,ANTIOQUIA,05266,ENVIGADO,Municipio,244188,544627.69,153290.0,153290.0,1.329915e+11,1.249904
318,17,CALDAS,17001,MANIZALES,Municipio,451812,255977.43,183367.0,183367.0,1.156537e+11,1.086956
84,5,ANTIOQUIA,05615,RIONEGRO,Municipio,144418,780565.15,34340.0,34340.0,1.127277e+11,1.059456

## Conectando con la BD, exportando los datos y luego conectar con Power BI

In [27]:
host = 'localhost'
database = 'bd_fm'
user = 'postgres'
port = '5435'
password = 'postgres2021'

In [28]:
connection_string = f"postgresql://{user}:{password}@{host}:{port}/{database}"
connection_string

'postgresql://postgres:postgres2021@localhost:5435/bd_fm'

In [29]:
engine = create_engine(connection_string)

In [30]:
insp = inspect(engine)
insp.get_table_names()

[]

In [38]:
'''
Exportando a la base de datos los datos crudos limpios
'''


tabla_final.to_sql('tabla_final', con = engine, if_exists = 'replace', index = False, schema = 'data_intermedia')

102